
    body {
        font-family: 'Bruno Ace SC';
        color: white;
        margin: 0px;
        padding: 0px;
        background: url("img/bg.jpg");
    }

    .left {
        display: inline-block;
        /* border: 2px solid red; */
        position: absolute;
        left: 36px;
        top: 20px;
    }

    .left img {
        width: 70px;
        /* Using a filter to convert the color black to white and white to black */
        /* filter: invert(100%); */
    }

    .left div {
        text-align: center;
        font-size: 16px;
    }

    .mid {
        display: block;
        width: 43%;
        margin: 30px auto;
        /* border: 2px solid red; */
    }

    .right {
        position: absolute;
        right: 34px;
        top: 33px;
        display: inline-block;
        /* border: 2px solid red; */
    }

    .navbar {
        /* inline block means inline set and also block also set */
        display: inline-block;
    }

    .navbar li {
        font-size: 16px;
        display: inline-block;
    }

    .navbar li a {
        color: white;
        text-decoration: none;
        padding: 34px 5px;
    }

    .navbar li a:hover,
    .navbar li a.active {
        text-decoration: underline;
        color: yellowgreen;
    }

    .btn {
        margin: 0px 9px;
        color: black;
        background: white;
        padding: 4px 14px;
        border: 2px solid red;
        border-radius: 27px;
        font-family: 'Bruno Ace SC', cursive;
        font-size: 15px;
        /* for arrow to change hand arrow symbol */
        cursor: pointer;
    }

    .btn:hover {
        background-color: red;
    }

    .container {
        /* border: 2px solid yellowgreen; */
        margin: -70px 5px;
        padding: 75px;
        width: 33%;
        border-radius: 2px;
    }

    .form-group input {
        font-family: 'Bruno Ace SC', cursive;
        text-align: center;
        display: block;
        width: 456px;
        padding: 1px;
        border: 2px solid black;
        margin: 11px auto;
        font-size: 18px;
        border-radius: 10px;
    }

    .container h1 {
        text-align: center;
    }

    .container button {
        display: block;
        width: 74%;
        margin: 20px auto;
    }

/* Media Queries for responsiveness */
@media only screen and (min-width: 768px) {
    .left {
        left: 3%;
        top: 3%;
    }

    .right {
        right: 3%;
        top: 3%;
    }

    .mid {
        width: 60%;
    }

    .container {
        width: 50%;
    }
}

@media only screen and (min-width: 1024px) {
    .container {
        width: 40%;
    }
}